<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/236x/41/0c/fc/410cfcda40be6f84330d1cc7a99fd48a.jpg" type="image/x-icon"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
